<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>레시피 수정</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>레시피 수정</h2>
    </div>

    <hr class="my-4">
    <div>
        <form id="recipeForm">
            <div class="mb-3">
                <label for="recipeId" class="form-label">Recipe ID</label>
                <input type="text" class="form-control" id="recipeId" name="recipeId" th:value="${recipe.id}" readonly>
            </div>
            <div class="mb-3">
                <label for="userId" class="form-label">User ID</label>
                <input type="text" class="form-control" id="userId" name="userId" th:value="${recipe.userId}" readonly>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">디렉토리</label>
                <button id="addDirBtn" type="button">디렉토리 추가</button>
                <select class="form-select" id="directory" name="directory">
                    <option th:each="dir : ${directories}" th:value="${dir.id}" th:text="${dir.name}"
                            th:selected="${dir.id eq recipe.dirId}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">레시피 이름</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${recipe.name}">
            </div>
            <div class="mb-3">
                <label for="memo" class="form-label">메모</label>
                <input type="text" class="form-control" id="memo" name="memo" th:value="${recipe.memo}">
            </div>
            <div class="mb-3">
                <label for="ingredients" class="form-label">재료</label>
                <input type="text" class="form-control" id="ingredientsInput"
                       placeholder="각 항목을 입력하고 엔터 키를 눌러 구분하세요">
                <div id="ingredientList" class="mt-2">
                    <!-- 기존 재료 목록 -->
                    <div th:each="ingredient : ${recipe.ingredients}">
                        <div class="badge bg-secondary me-2" th:text="${ingredient}"><span class="badge bg-danger ms-1"
                                                                                           style="cursor: pointer"
                                                                                           onclick="removeItem(this)">x</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="tags" class="form-label">태그</label>
                <input type="text" class="form-control" id="tagsInput"
                       placeholder="각 항목을 입력하고 엔터 키를 눌러 구분하세요">
                <div id="tagList" class="mt-2">
                    <!-- 기존 태그 목록 -->
                    <div th:each="tag : ${recipe.tags}">
                        <div class="badge bg-secondary me-2" th:text="${tag}"><span class="badge bg-danger ms-1"
                                                                                    style="cursor: pointer"
                                                                                    onclick="removeItem(this)">x</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">소요시간(분 단위)</label>
                <input type="number" class="form-control" id="time" name="time" th:value="${recipe.time}">
            </div>
            <div class="mb-3">
                <label for="level" class="form-label">난이도</label>
                <select class="form-select" id="level" name="level">
                    <option value="Easy" th:selected="${recipe.level == 'Easy'}">쉬움</option>
                    <option value="Medium" th:selected="${recipe.level == 'Medium'}">보통</option>
                    <option value="Hard" th:selected="${recipe.level == 'Hard'}">어려움</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">수정하기</button>
        </form>
    </div>
    <div class="modal" tabindex="-1" id="createDirModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">디렉토리 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="newDirName" class="form-control" placeholder="새로운 디렉토리 이름을 입력하세요.">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="saveDir">저장</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // 토큰을 로컬 스토리지에서 가져오기
    const accessToken = localStorage.getItem('accessToken');

    // 모든 AJAX 요청 전에 Authorization 헤더에 토큰을 추가
    $.ajaxSetup({
        beforeSend: function(xhr) {
            if (accessToken) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
            }
        }
    });
    // 기존 태그와 재료 목록에서 항목 삭제
    function removeItem(element) {
        element.parentNode.remove();
    }

    // AJAX로 디렉토리 추가
    $(document).ready(function () {
        $('#saveDir').click(function () {
            let dirName = $('#newDirName').val();
            let userId = $('#userId').val();
            $.ajax({
                url: '/api/directories',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({name: dirName, userId: userId}),
                success: function (response) {
                    $('#createDirModal').modal('hide');
                    $('#directory').append($('<option>', {
                        value: response.id,
                        text: response.name
                    }));
                },
                error: function (error) {
                    alert('디렉토리 추가 중 오류가 발생했습니다.');
                    console.log(error);
                }
            });
        });
    });
</script>

</body>
</html>
