<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>사용자 알림</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .read-yn-y {
            background-color: #f0f0f0; /* 회색 배경색 */
        }

        .read-yn-n {
            color: #808080; /* 회색 텍스트 색상 */
        }
    </style>

</head>
<body>
<div class="container" style="max-width: 800px; margin-top: 50px;">
    <h1 class="mb-4">사용자 알림</h1>
    <div id="alarm-list" class="list-group">
        <div th:if="${alarms.size() == 0}" class="alert alert-info" role="alert">
            알림이 없습니다.
        </div>
        <div th:each="alarm : ${alarms}"
             th:class="${alarm.readYn == 'Y' ? 'list-group-item read-yn-y' : 'list-group-item'}">
            <h5 class="mb-1" th:text="${alarm.type}"></h5>
            <!--            <p class="mb-1" th:text="${alarm.msg}" th:class="${alarm.readYn == 'N' ? 'read-yn-n' : ''}"></p>-->
            <p class="mb-1" th:text="${alarm.readYn}"></p>
            <button class="btn-default">읽음</button>
        </div>
    </div>
</div>

<!-- 알림 모달 -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="notificationMessage"></p>
            </div>
        </div>
    </div>
</div>
<script>
    const socket = new WebSocket('ws://localhost:8080/websocket');

    socket.onmessage = function (event) {
        const message = JSON.parse(event.data);
        console.log(message);

        // 알림 모달에 메시지 표시
        document.getElementById('notificationMessage').textContent = message.msg;
        // 알림 모달 열기
        const notificationModal = new bootstrap.Modal(document.getElementById('notificationModal'));
        notificationModal.show();
    };
</script>
</body>
</html>
