<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baking Buddy</title>

</head>
<body>
<div layout:fragment="content">
  <h1>Test</h1>
</div>
<div layout:fragment="script">
    <script th:inline="javascript">
        const accessToken = localStorage.getItem("accessToken");
        console.log(accessToken)
        document.addEventListener('DOMContentLoaded', () => {

            if (accessToken) {
                fetch('/login', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${accessToken}`,
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => console.log(data))
                    .catch(error => console.error('Error fetching data:', error));
            } else {
                console.error('No token found in local storage');
            }
        });

    </script>
</div>
</body>
</html>
