<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baking Buddy</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>레시피 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>사용자ID</th>
                <th>분류</th>
                <th>상품명</th>
                <th>메모</th>
                <th>재료</th>
                <th>태그</th>
                <th>소요시간</th>
                <th>난이도</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{/api/recipes/{itemId}(itemId=${item.id})}" th:text="${item.id}">ID</a>
                </td>
                <td><a href="item.html" th:href="@{/api/recipes/users/{userId}(userId=${item.userId})}" th:text="${item.userId}">사용자ID</td>
                <td th:text="${item.dirId}">분류</td>
                <td><a href="item.html" th:href="@{|/api/recipes/${item.id}|}" th:text="${item.name}">상품명</a></td>
                <td th:text="${item.memo}">메모</td>
                <td th:text="${item.ingredients}">재료</td>
                <td th:text="${item.tags}">태그</td>
                <td th:text="${item.time}">태그</td>
                <td th:text="${item.level}">태그</td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

</body>
</html>